.sidebar__chat {
    display: flex;
    align-items: center;
    height: 65px;
    transition: all .3s ease;
    padding: 10px;
    border-bottom: 1px solid #f6f6f6;
    cursor: pointer;
}
.sidebar__chat:hover {
    background-color: #ebebeb;
    border-radius: 5px;
    transition: all .3s ease;
}

.sidebar__chatInfo {
    margin-left: 14px;
}
.sidebar__chatInfo h2 {
    font-size: 16px;
}
.sidebar__chatInfo p {
    font-size: 15px;
    color: gray;
}