.sidebar__chat {
    display: flex;
    align-items: center;
    height: 65px;
    margin-bottom: 5px;
    transition: all .3s ease;
    padding: 10px;
}
.sidebar__chat:hover {
    background-color: #ededed;
    border-radius: 5px;
    transition: all .3s ease;
}

.sidebar__chatInfo {
    margin-left: 14px;
}
.sidebar__chatInfo h2 {
    font-size: 16px;
}
.sidebar__chatInfo p {
    font-size: 14px;
    color: darkgray;
}